.body{
    font-family: 'Opens Sans', sans-serif;
    background-image: url(Imagens/pngwing.com.png);
    margin: 0;
}

.main-content{
    text-align: center;
    padding-top: 2rem;
}
.main-content h1{
    color: yellow;
}
.main-content figure iframe{
    border-style: solid;
    border-width: 8px;
    border-color: rgb(247, 243, 5);
}
.end-content{
    text-align: center;
    color: yellow;
}
